<!DOCTYPE html>
<html>

  <head>
    

    

    <title>Input with separator</title>
  </head>

  <body ng-app="myApp">
    <div ng-controller="myBasicController as vm">
      <button type="button" class="btn btn-primary btn-md" ng-click="vm.assignGlobal(12121212121);">Assign International</button>
      <button type="button" class="btn btn-primary btn-md" ng-click="vm.assignIndian(131313131131);">Assign Indian</button>
      <pre>International number system: <input-with-separator ng-model="vm.foo" number-system="International"></input-with-separator></pre>
      <pre>Indian number system: <input-with-separator ng-model="vm.doo" number-system="Indian"></input-with-separator></pre>
      foo - {{vm.foo}}
      doo - {{vm.doo}}
    </div>

    <script src="js/lib-ddc2bd0825.js"></script>

    <script src="js/app-3e7dc1a969.js"></script>
  </body>

</html>
